@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap");

html,
body,
#root {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

nav a.active {
  font-weight: 700;
  text-decoration: underline;
}
form input,
form button {
  display: block;
  margin: 0.25rem 0 0.5rem;
  border-radius: 0.3rem;
}
